<% include partials/header %>

<div class="container">

    <div class="col-md-12">

        <% if(check == 1) { %>
        <table class="table tablehover" data-toggle="modal" data-target=".bs-example-modal-lg">

            <th><strong>Last Name</strong></th>
            <th><strong>First Name</strong></th>
            <th><strong>Address</strong></th>
            <th><strong>ZipCode</strong></th>
            <th><strong>Telephone</strong></th>
            <th><strong>Email</strong></th>

            <% for (var i = 0; i < customers.length; i++) { %>
            <tr class='clickable-row '>
                <td><%= customers[i].LastName %></td>
                <td><%= customers[i].FirstName %></td>
                <td><%= customers[i].Address %></td>
                <td><%= customers[i].ZipCode %></td>
                <td><%= customers[i].telephone %></td>
                <td><%= customers[i].email %></td>
            </tr>
            <% } %>
        </table>
        <% } %>

        <% if(check == 2) { %>
        <table id=EditTable class="table tablehover" data-toggle="modal" data-target=".bs-example-modal-lg">

            <th><strong>Last Name</strong></th>
            <th><strong>First Name</strong></th>
            <th><strong>Address</strong></th>
            <th><strong>ZipCode</strong></th>
            <th><strong>Telephone</strong></th>
            <th><strong>Email</strong></th>

            <% for (var i = 0; i < newCust.length; i++) { %>
            <% if(!newCust[i].Level && !newCust[i].creditcardnum) { %>
            <tr data-id="<%= newCust[i].SSN %>" class='clickable-row '>
                <td><%= newCust[i].LastName %></td>
                <td><%= newCust[i].FirstName %></td>
                <td><%= newCust[i].Address %></td>
                <td><%= newCust[i].ZipCode %></td>
                <td><%= newCust[i].telephone %></td>
                <td><%= newCust[i].email %></td>
            </tr>
            <% } %>

            <% } %>

        </table>
        <% } %>

        <% if(check == 3) { %>

        <% } %>

    </div>

    <div class="row">

        <div class="col-md-12">

            <h3>Best Sellers</h3>
            <table class="table-hover table table-striped">
                <thead>
                <td>FirstName</td>
                <td>LastName</td>
                <td>Name</td>
                <td>Price</td>
                </thead>
                <% for (var i = 0; i < bestSeller.length; i++) {%>

                <tr>
                    <td><%= bestSeller[i].FirstName %></td>
                    <td><%= bestSeller[i].LastName %></td>
                    <td><%= bestSeller[i].Name %></td>
                    <td><%= bestSeller[i].Price %></td>
                </tr>

                <% } %>
            </table>
        </div>
    </div>
</div>

<% include partials/footer %>