<!-- Auction Page -->

<% include partials/header %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h2>User Profile - <%= person.FirstName + ' ' + person.LastName %></h2>

            <h3>User Information</h3>
            <ul id="user-info">
                <li><strong>Telephone: </strong><%= person.telephone %></li>
                <li><strong>Zip: </strong><%= person.ZipCode %></li>
                <li><strong>SSN: </strong>***-**-**<%= person.SSN.toString().slice(-1) %></li>
                <li><strong>Credit Card: </strong>**** **** **** <%= person.creditcardnum.toString().slice(-4) %></li>
            </ul>


            <h3>Best Sellers</h3>
            <table class="table table-hover">
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Type</td>
                    <td>Number Sold</td>
                </tr>
                <% for (var i = 0; i < rows.length; i++) { %>

                <td><%= rows[i].ItemID %></td>
                <td><%= rows[i].Name %></td>
                <td><%= rows[i].Description %></td>
                <td><%= rows[i].Type %></td>
                <td><%= rows[i].NumberSold %></td>


                <% } %>
            </table>

        </div>

    </div>

</div>
<!-- /.container -->

<% include partials/footer %>
