<!-- Auction Page -->

<% include partials/header %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h2>User Profile - <%= person.FirstName + ' ' + person.LastName %></h2>

            <h3>User Information</h3>
            <ul id="user-info">
                <li><strong>Telephone: </strong><%= person.telephone %></li>
                <li><strong>Zip: </strong><%= person.ZipCode %></li>
                <li><strong>SSN: </strong>***-**-**<%= person.SSN.toString().slice(-1) %></li>
                <li><strong>Credit Card: </strong>**** **** **** <%= person.creditcardnum.toString().slice(-4) %></li>
            </ul>

            <h3>Auctions</h3>
            <p>A history of all current and past auctions a customer has taken part in</p>
            <table id="user-auctions" class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Bid Increment</th>
                    <th>Minimum Bid</th>
                    <th>Copies</th>
                    <th>Employee</th>
                    <th>ItemID</th>
                    <th>BuyerID</th>
                    <th>SellerID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <td>Type</td>
                </tr>
            </table>
            <div class="loader">
                <p>Loading auctions...</p>
            </div>

            <h3>All Items Being Auctioned or Sold</h3>
            <p>All items that the user has auctioned in the past.</p>
            <table id="user-auction-items" class="table table-hover">
                <tr>
                    <th>ItemID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Copies</th>
                    <th>AuctionID</th>
                    <th>Increment</th>
                    <th>MinimumBid</th>
                    <th>Employee</th>
                </tr>
            </table>
            <div class="loader">
                <p>Loading items...</p>
            </div>



            <h3>Best Sellers</h3>
            <table id="best-sellers" class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Number Sold</th>
                </tr>
            </table>
            <div class="loader">
                <p>Loading best sellers list...</p>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

<script type='text/javascript'>
    loadBestSellers(<%= person.SSN %>);
    loadUserAuctions(<%= person.SSN %>);
    loadUserAuctionItems(<%= person.SSN %>);
</script>

<% include partials/footer %>
